body {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  background-color: white;
  color: black;
}

.navigation {
  margin-top: 0px;
}

.page_content {
  margin-top: 0px;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 16pt;
}

h4 {
  font-size: 14pt;
}

.navigation ul { /* changed from ul.navigation */
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #0064FF;
  width: 100%;
  height:
  position: fixed;
  top: 0;
}

.navigation li { /* changed from li.navigation */
  display: inline-block;
}

.navigation li a { /* changed from li a.navigation */
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.navigation li a:hover { /* changed from li a.navigation:hover */
  background-color: #1B00FF;
}

a:link {
  color: gray;
  text-decoration: none;
}

a:visited {
  color: gray;
  text-decoration: none;
}

.contact_info { /* changed from p.contatct_info */
  font-size: 14pt;
}
