body {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  background-color: white;
  color: black;
}

.navigation {
  margin-top: 0px;
}

.page_content {
  position: absolute;
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 150px;
  /* width: 80%; */
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 16pt;
}

h3 {
  font-size: 14pt;
}

h4 {
  font-size: 12pt;
}

p {
  font-size: 11pt;
}

table {
  width: 80%;
}

table, tr {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  text-align: left;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #0064FF;
  width: 100%;
  height:
  position: fixed;
  top: 0;
}

.navigation li {
  display: inline-block;
}

.navigation li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.navigation li a:hover {
  background-color: #1B00FF;
}

a:link {
  color: gray;
  text-decoration: none;
}

a:visited {
  color: gray;
  text-decoration: none;
}

.contact_info {
  font-size: 14pt;
}
