/* body, header, footer */

body {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  background-color: white;
  color: black;
}

footer {
  position: fixed;
  background-color: white;
  color: black;
}



/* headings and paragraphs */

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 16pt;
}

h3 {
  font-size: 14pt;
}

h4 {
  font-size: 12pt;
}

p {
  font-size: 11pt;
}



/* links */

a:link {
  color: gray;
  text-decoration: none;
}

a:visited {
  color: gray;
  text-decoration: none;
}



/* tables */

table {
  width: 100%;
}

table, tr {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px;
}



/* div class navigation */

.navigation {
  margin-top: 0px;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #0064FF;
  width: 100%;
  height:
  position: fixed;
  top: 0;
}

.navigation li {
  display: inline-block;
}

.navigation li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.navigation li a:hover {
  background-color: #1B00FF;
}



/* div class page_navigation */

/* div class page_content */

.page_content {
  position: absolute;
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 150px;
}

/* div class contact_info */

.contact_info {
  font-size: 10pt;
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 150px;
}
